body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f8f8;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}

.navbar li a:hover {
    background-color: #4CAF50;
    color: #fff;
}
h1{
    text-align:  center;
    color: green;
}

  